<nav class="nav">
    <img style="height: 100px;" src="https://res.cloudinary.com/dpqkayvki/image/upload/v1594220042/Krapp/icon-04_hlgowi.svg" alt="navicon">
    <h1 style="object-fit: contain;" class="big">KRAPP{{#if user}}{{user.username}}{{/if}}</h1>
    <div class="nav-links">
        <a style="margin-right: 10px;" class="button" href="/newKebab/new">Add</a><br>
        <a style="margin-right: 5px;" class="button" href="/logout">Logout</a>
    </div>
</nav>