<nav class="nav">
    <img style="height: 100px;" src="https://res.cloudinary.com/dpqkayvki/image/upload/v1594220042/Krapp/icon-04_hlgowi.svg" alt="navicon">
    <h1 class="big-left">KRAPP {{#if user}}{{user.username}}{{/if}}</h1>
</nav>