{{> nav }}

<span style="margin-top: 150px;" class="centerme">
    <p class="error" style="color: red">{{message}}</p> <br>
    <form class="new-form" action="/signup" method="post">
        <div class="NForm">
            <label for="username">Username: </label>
            <input type="text" name="username" id="username">
        </div>
        <div class="NForm">
            <label for="password">Password: </label>
            <input type="password" name="password" id="password">
        </div>
        <div class="NForm-margin">
            <button class="button" type="submit">Sign up</button>
        </div>
    </form>
</span>

{{#if message}}
{{/if}}